<html>
<body>

<h1>The dashing hacker</h1>

<ul>
<% @news.each do |n| %>
  <li><%= n['title'] %> : <%= n['points'] %></li>
<% end %>
</ul>

<p>Mean: <%= @mean %></p>
<p>Median: <%= @median %></p>
<p>Mode: <%= @mode %></p>

<h2>Above median:</h2>
<ul>
<% @news_above_median.each do |n| %>
  <li><%= n['title'] %> : <%= n['points'] %></li>
<% end %>
</ul>

</body>
</html>