<html>
<body>

<h1>The dashing hacker</h1>

<ul>
  <% @hacker_news.news.each do |n| %>
    <li><a href="<%=n['url']%>"><%= n['title'] %></a> (<%= n['points'] %>)</li>
  <% end %>
</ul>

<p>Mean: <%= @hacker_news.mean %></p>
<p>Median: <%= @hacker_news.median %></p>
<p>Mode: <%= @hacker_news.mode %></p>

<h2>Above median:</h2>
<ul>
  <% @hacker_news.news_above_median.each do |n| %>
    <li><a href="<%=n['url']%>"><%= n['title'] %></a> (<%= n['points'] %>)</li>
  <% end %>
</ul>

<form action="/email" method="post">
  <input type="email" name="from" placeholder="From" required>
  <input type="email" name="to" placeholder="To" required>
  <input type="submit" value="Send email!">
</form>

</body>
</html>