<html>
<body>

<h1>The dashing hacker</h1>

<ul>
  <% @hacker_news.news.each do |n| %>
    <li><%= n['title'] %> : <%= n['points'] %></li>
  <% end %>
</ul>

<p>Mean: <%= @hacker_news.mean %></p>
<p>Median: <%= @hacker_news.median %></p>
<p>Mode: <%= @hacker_news.mode %></p>

<h2>Above median:</h2>
<ul>
  <% @hacker_news.above_median.each do |n| %>
    <li><%= n['title'] %> : <%= n['points'] %></li>
  <% end %>
</ul>

</body>
</html>